<template>
    <div>
        <div style="font-size: 30px; margin-bottom: 40px; text-align: center; font-weight: 800;">회원 통계</div>
        <div v-if="detailInfo != null" style="text-align: center">
            <div class="statistics-box">현재 등록된 회원 수는 <span class="in-box">{{ detailInfo.totalUserCount }}명</span> 입니다.</div>
            <div class="statistics-box">등록된 회원의 평균 키는 <span class="in-box">{{ detailInfo.averageUserHeight }}cm</span> 입니다.</div>
            <div class="statistics-box">등록된 회원의 평균 몸무게는 <span class="in-box">{{ detailInfo.averageUserWeight }}kg</span> 입니다.</div>
            <div class="statistics-box">등록된 초심자 수는 <span class="in-box">{{ detailInfo.beginnerUserCount }}명</span> 입니다.</div>
            <div class="statistics-box">등록된 중급자 수는 <span class="in-box">{{ detailInfo.intermediateUserCount }}명</span> 입니다.</div>
            <div class="statistics-box">등록된 상급자 수는 <span class="in-box">{{ detailInfo.seniorUserCount }}명</span> 입니다.</div>
        </div>
    </div>
</template>

<script>
import userStatConstants from "~/store/modules/user-stat/constants";

export default {
    data() {
        return {
            detailInfo: null,
        }
    },
    methods: {
        async getDetail() {
            this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, true)
            await this.$store.dispatch(this.$userStatConstants.DO_USER_STAT)
                .then((res) => {
                    this.detailInfo = res.data.data
                    this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
                })
                .catch((err) => {
                    this.$toast.error(err.response.data.msg)
                    this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
                })
        },
    },
    created() {
        this.getDetail()
    }
}
</script>
