<template>
    <div>
        <el-form ref="form" :model="form" :rules="rules" label-width="150px">
            <el-form-item label="몸무게" prop="userWeight">
                <el-input v-model="form.userWeight" placeholder="숫자로만 적어주세요"></el-input>
            </el-form-item>
            <el-form-item label="운동 수행 능력" prop="fitnessAbility">
                <el-select v-model="form.fitnessAbility" placeholder="운동 수행 능력을 선택해주세요">
                    <el-option label="초급자" value="BEGINNER"></el-option>
                    <el-option label="중급자" value="INTERMEDIATE"></el-option>
                    <el-option label="상급자" value="SENIOR"></el-option>
                </el-select>
            </el-form-item>
            <el-form-item label="하루 운동 목표치(분)" prop="dailyGoalMinute">
                <el-input v-model="form.dailyGoalMinute" placeholder="숫자로만 적어주세요"></el-input>
            </el-form-item>
            <div class="edit-complete">
            <el-button type="success" circle v-on:click.native="doPutData()">등록하기</el-button>
            <el-button type="success" circle v-on:click.native="moveList()">돌아가기</el-button>
            </div>
        </el-form>
    </div>
</template>

<script>
export default {
    asyncData({params}) {
        return {
            id: params.id
        }
    },
    validate({params}) {
        return /^\d+$/.test(params.id)
    },
    data() {
        return {
            id: null,
            detailInfo: null,
            form: {
                userWeight: '',
                fitnessAbility: '',
                dailyGoalMinute: ''
            },
            rules: {
                userWeight: [
                    {required: true, message: '이 값은 필수입니다.', trigger: 'blur'},
                ],
                fitnessAbility: [
                    {required: true, message: '이 값은 필수입니다.', trigger: 'blur'}
                ],
                dailyGoalMinute: [
                    {required: true, message: '이 값은 필수입니다.', trigger: 'blur'}
                ],
            }
        }
    },
    methods: {
        async getDetail() {
            this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, true)
            await this.$store.dispatch(this.$fitnessAssistConstants.DO_DETAIL, {id: this.id})
                .then((res) => {
                    this.detailInfo = res.data.data
                    this.form.userWeight = res.data.data.userWeight
                    this.form.fitnessAbility = res.data.data.fitnessAbility
                    this.form.dailyGoalMinute = res.data.data.dailyGoalMinute
                    this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
                })
                .catch((err) => {
                    this.$toast.error(err.response.data.msg)
                    this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
                })
        },
        doPutData() {
            let formName = 'form'
            this.$refs[formName].validate(valid => {
                if (valid) {
                    this.putData()
                } else {
                    return false
                }
            })
        },
        putData() {
            let payload = {
                id: this.detailInfo.id,
                data: {
                    userWeight: Number(this.form.userWeight),
                    fitnessAbility: this.form.fitnessAbility,
                    dailyGoalMinute: Number(this.form.dailyGoalMinute)
                }
            }
            this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, true)
            this.$store.dispatch(this.$fitnessAssistConstants.DO_UPDATE, payload)
                .then(res => {
                    this.$toast.success(res.data.msg)
                    this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
                    this.$router.replace(`/user-info/list`)
                })
                .catch(err => {
                    this.$toast.error(err.response.data.msg)
                    this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
                })
        },
        moveList() {
            this.$router.push(`/user-info/list`)
        },
    },
    created() {
        this.getDetail()
    }
}
</script>
