<template>
    <div>

    </div>
</template>
<script>
export default {
    middleware: 'anonymous',
    data() {
        return {

        }
    },
    mounted() {
        this.$store.commit(this.$menuConstants.FETCH_SELECTED_MENU, 'DASH_BOARD')
    },
    methods: {
        moveList() {
            this.$router.push(`/user-info/list`)
        },
    }
}
</script>
