<template>
    <div>
        <el-form ref="form" :model="form" :rules="rules" label-width="150px">
            <el-form-item label="이름" prop="userName">
                <el-input v-model="form.userName" placeholder="한글로 적어주세요"></el-input>
            </el-form-item>
            <el-form-item label="성별" prop="gender">
                <el-select v-model="form.gender" placeholder="성별을 선택해주세요">
                    <el-option label="남자" value="MAN"></el-option>
                    <el-option label="여자" value="WOMAN"></el-option>
                </el-select>
            </el-form-item>
            <el-form-item label="키" prop="userHeight">
                <el-input v-model="form.userHeight" placeholder="숫자로만 적어주세요"></el-input>
            </el-form-item>
            <el-form-item label="몸무게" prop="userWeight">
                <el-input v-model="form.userWeight" placeholder="숫자로만 적어주세요"></el-input>
            </el-form-item>
            <el-form-item label="운동 수행 능력" prop="fitnessAbility">
                <el-select v-model="form.fitnessAbility" placeholder="운동 수행 능력을 선택해주세요">
                    <el-option label="초급자" value="BEGINNER"></el-option>
                    <el-option label="중급자" value="INTERMEDIATE"></el-option>
                    <el-option label="상급자" value="SENIOR"></el-option>
                </el-select>
            </el-form-item>
            <el-form-item label="하루 운동 목표치(분)" prop="dailyGoalMinute">
                <el-input v-model="form.dailyGoalMinute" placeholder="숫자로만 적어주세요"></el-input>
            </el-form-item>
            <el-form-item class="edit-complete">
                <el-button type="primary" @click="onSubmit">등록</el-button>
                <el-button>취소</el-button>
            </el-form-item>
        </el-form>
    </div>
</template>

<script>
export default {
    data() {
        return {
            form: {
                userName: '',
                gender: '',
                userHeight: '',
                userWeight: '',
                fitnessAbility: '',
                dailyGoalMinute: ''
            },
            rules: {
                userName: [
                    { required: true, message: '이 값은 필수입니다.', trigger: 'blur'},
                    { min:1, max:20, message:'1~20자 내로 입력해주세요.', trigger: 'blur'}
                ],
                gender: [
                    { required: true, message: '이 값은 필수입니다.', trigger: 'blur'}
                ],
                userHeight: [
                    { required: true, message: '이 값은 필수입니다.', trigger: 'blur'},
                ],
                userWeight: [
                    { required: true, message: '이 값은 필수입니다.', trigger: 'blur'},
                ],
                fitnessAbility: [
                    { required: true, message: '이 값은 필수입니다.', trigger: 'blur'}
                ],
                dailyGoalMinute: [
                    { required: true, message: '이 값은 필수입니다.', trigger: 'blur'}
                ],
            }
        }
    },
    methods: {
        onSubmit() {
            let formName = 'form'
            this.$refs[formName].validate(valid => {
                if (valid) {
                    this.setData()
                } else {
                    return false
                }
            })
        },
        setData() {
            let payload = {
                userName: this.form.userName,
                gender: this.form.gender,
                userHeight: Number(this.form.userHeight),
                userWeight: Number(this.form.userWeight),
                fitnessAbility: this.form.fitnessAbility,
                dailyGoalMinute: Number(this.form.dailyGoalMinute)
            }
            this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, true)
            this.$store.dispatch(this.$fitnessAssistConstants.DO_CREATE_INFO, payload)
                .then(res => {
                    this.$toast.success(res.data.msg)
                    this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
                    this.$router.replace(`/user-info/list`)
                })
                .catch(err => {
                    this.$toast.error(err.response.data.msg)
                    this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
                })
        }
    }
}
</script>
