<template>
    <div>
        <div style="text-align: right; margin-right: 60px">
            <el-button type="success" circle v-on:click.native="moveCreate()">신규 등록</el-button>
            <el-button type="success" circle v-on:click.native="moveMain()">돌아가기</el-button>
        </div>
        <h1 class="list-header">회원등록</h1>
        <div>
            <el-table :data="list" style="width: 100%">
                <el-table-column
                    fixed
                    prop="userInfoId"
                    label="유저 ID"
                    width="150">
                </el-table-column>
                <el-table-column
                    fixed
                    prop="userName"
                    label="회원 이름"
                    width="150">
                </el-table-column>
                <el-table-column
                    fixed
                    prop="gender"
                    label="성별"
                    width="150">
                </el-table-column>
                <el-table-column
                    fixed
                    prop="userHeight"
                    label="키"
                    width="150">
                </el-table-column>
                <el-table-column
                    fixed
                    prop="userWeight"
                    label="몸무게"
                    width="150">
                </el-table-column>
                <el-table-column
                    fixed
                    prop="fitnessAbility"
                    label="운동 수행 능력"
                    width="150">
                </el-table-column>
                <el-table-column
                    fixed
                    prop="bmiValue"
                    label="BMI 지수"
                    width="150">
                </el-table-column>
                <el-table-column
                    fixed
                    prop="obesityDegree"
                    label="비만도"
                    width="150">
                </el-table-column>
                <el-table-column
                    fixed
                    prop="lastVisit"
                    label="마지막 방문"
                    width="150">
                </el-table-column>
                <el-table-column
                    fixed
                    prop="dailyGoal"
                    label="하루 목표치(분)"
                    width="150">
                </el-table-column>
                <el-table-column
                    fixed
                    label="회원 정보 수정"
                    width="120">
                    <template slot-scope="scope">
                        <el-button type="text" size="small" circle v-on:click.native="moveEdit(scope.row.userInfoId)">
                            수정
                        </el-button>
                    </template>
                </el-table-column>
            </el-table>
        </div>
    </div>
</template>

<script>
export default {
    data() {
        return {
            list: []
        }
    },
    methods: {
        getList() {
            this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, true)
            this.$store.dispatch(this.$fitnessAssistConstants.DO_LIST)
                .then((res) => {
                    this.list = res.data.list
                    this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
                })
                .catch((err) => {
                    this.$toast.error(err.response.data.msg)
                    this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
                })
        },
        moveCreate() {
            this.$router.push(`/user-info/create-info`)
        },
        moveEdit(id) {
            let linkBaseUrl = '/user-info/edit/'
            this.$router.push(`${linkBaseUrl}${id}`)
        },
        moveMain() {
            this.$router.push(`/`)
        },
    },
    created() {
        this.getList()
    },
    handleClick() {
        console.log('click');
    }
}
</script>
